{# footer atelier du trait #}
<footer class="footer container mt-20">
    <div class="row">
        {# logo #}
        {# <div class="col-2 col-md-1 m-a mt40">
            <img class="logo img w-100" src="{{ theme.link }}/assets/img/tipo.png" alt="logo">
        </div> #}
        <div class="col-2 col-md-1">
            <img class=" img w-100 m-a mt20" src="{{ theme.link }}/assets/img/petitpas.png" alt="logo">
        </div>
        <a class="col-md-1 d-block link t-a-right mt40 t-3 t-md-4" target="_blank" href="https://www.facebook.com/profile.php?id=100009385068072">
            <i class="t8 t-a-center color5 d-block fab fa-facebook-f"></i>
        </a>
        <a class="col-md-3 d-block link mt40 t-3 t-md-4" href="">
            mentions légales
        </a>
        <a class="col-md-3 d-block link mt40 mb40 t-3 t-md-4" href="">
           politique de confidentialité
        </a>
        <div class="col-2 col-md-1">
            <img class=" img w-100 m-a mt20" src="{{ theme.link }}/assets/img/petitpas.png" alt="logo">
        </div>
        <div class="offset-md-3 d-none d-md-block"></div>
        
        
        <div class="offset-md-3 d-none d-md-block"></div>
    </div>
</footer>