{# header atelier du trait #}
<header class="header w-100">
    <div class="row">
        {# logo #}
        <div class="col-4 col-md-2">
            <img class="hmax20vh logo img" src="{{ theme.link }}/assets/img/ateliers_du_trait.png" alt="mogo">
        </div>
        <div class="d-block d-md-none offset-6 "></div>
        {% include "views/partial/menus/desk-dropdown.twig" %}
        {% include "views/partial/menus/smart-dropdown.twig" %}
        </div>
    </div>
</header>