.font1{
  font-family: Comfortaa, sans-serif;
}
.font2{
  font-family: Roboto, sans-serif;
}
.font2{
  font-family: Arial, sans-serif;
}
.font4{
  font-family: 'Fredericka the Great', cursive;
}



// Epaisseur de caractère

.bold{
  font-weight: bold;
}

.bold-900{
  font-weight: 900;
}
.bold-600{
  font-weight: 600;
}
.bold-300{
  font-weight: 300;
}

// style, décoration de caractere, alignement

//italique
.italic{
  font-style: italic;
}
//souligné
.underline
{
  text-decoration: underline;
}

//text-align
.t-a-left{
  text-align: left;
}
.t-a-center{
  text-align: center;
}
.t-a-right{
  text-align: right;
}

// font-size

.t0{
  font-size: $t0 !important;
}

.t1{
  font-size: $t1 !important;
}
.t2{
  font-size: $t2 !important;
}
.t3{
  font-size: $t3 !important;
}
.t4{
  font-size: $t4 !important;
}
.t5{
  font-size: $t5 !important;
}
.t6{
  font-size: $t6 !important;
}
.t7{
  font-size: $t7 !important;
}
.t8{
  font-size: $t8 !important;
}
.t9{
  font-size: $t9 !important;
}
.t10{
  font-size: $t10 !important;
}
.t11{
  font-size: $t11 !important;
}
.t12{
  font-size: $t12 !important;
}

