<!doctype html>
<html xmlns:og="http://ogp.me/ns#" lang="fr">
    <head>
        {% include "partial/head.twig" %}
    </head>
    <body class="body font1 w-100" id="myDIV">
        {% block tmp_slide %}{% endblock %}
        {% include "partial/header.twig" %}
        {% block content %}{% endblock %}
        {% include "partial/totop.twig" %}
        {% include "partial/footer.twig" %}
        {% include "partial/script.twig" %}
    </body>
</html>